.bookend {
    background-color: #9F5FDB;
    /* border: solid .2em rgb(104, 15, 187); */
    border: solid .2em #554961;
    filter: drop-shadow(0em 0em 0.5em rgba(0, 0, 0, 0.205));
    box-sizing: border-box;
    text-align: center;
    margin: 1em 0;
    padding: 1em;
}

.bookend a {
    display: block;
    text-decoration: none;
    margin-top: 0.5em;
    color: black;
}

.bookend a:hover {
    text-decoration: underline;
}

.bookend a:active {
    text-decoration: underline;
}