#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style-type: none;
}

#sweets-dropdown {
  border-radius: 0 6px 6px 0;
  /* border-radius: 6px 0 0 6px; */
}