body {
  background: linear-gradient(135deg, #e079c0 0%, #b2e079 100%);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style-type: none;
}

.btn {
  background-color: #b2e079;
  border: solid 2px #56614a;
  color: black;
}

.btn:active, .active, .btn:hover, .btn.show{
  background-color: #56614a !important;
  border-color: #56614a !important;
}

/* .btn:active, .active, #filter {
  --bs-btn-active-bg: #56614a;
  --bs-btn-active-border-color: #56614a;
}

.btn:hover, .btn:focus-visible {
  --bs-btn-hover-bg: #56614a;
  --bs-btn-hover-border-color: #56614a;
} */

.card {
  border: solid 3px #554961;
}
