body {
  background: linear-gradient(135deg, #e079c0 0%, #b2e079 100%);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style-type: none;
}

.btn {
  background-color: #b2e079;
  border: solid 2px #56614a;
  color: black;
}

.btn:active, .active, .btn:hover, .btn.show{
  background-color: #56614a !important;
  border-color: #56614a !important;
}

.card {
  border: solid 3px #554961;
}

.card-img-top {
  border-radius: 0;
}

ol li {
  list-style-type: decimal;
}

.fa-lg {
  color:#614A5A;
  z-index: 3;
}

Link {
  z-index: 100;
}

.outer-section {
    box-sizing: border-box;
    background-color: rgb(255, 250, 243);
    border: 0.5em solid bisque;
    border-radius: 2em;
    margin: 3em 0;
    filter: drop-shadow(0em 0em 0.5em rgba(0, 0, 0, 0.205));
    width: 80vw;
}

.inner-section {
    background-color: rgb(255, 236, 214);
    border-top: 0.5em solid bisque;
    border-radius: 0 0 1.5em 1.5em;
    padding: 2em 1em;
}